contributor_folders/ELine/.env/*

contributor_folders/ELine/ocean_wrapper_ws/build/
contributor_folders/ELine/ocean_wrapper_ws/install/
contributor_folders/ELine/ocean_wrapper_ws/log/

contributor_folders/ELine/.vscode/*
